<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883195808997-icbcv4g50b6g2891691ltfo6hatjqr97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883195808997-icbcv4g50b6g2891691ltfo6hatjqr97</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883195808997-3l8gjqkhnqu67k1qf9jbo9nnnj8j6puv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDORFmjOMRgvgTECTovgjStCLnFZoIZkJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>883195808997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.use.automaticFeed</string>
	<key>PROJECT_ID</key>
	<string>automatic-chicken-feed-a7e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>automatic-chicken-feed-a7e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883195808997:ios:201b87df285e2754cd980c</string>
	<key>DATABASE_URL</key>
	<string>https://automatic-chicken-feed-a7e2f-default-rtdb.firebaseio.com</string>
</dict>
</plist>